<nav class = "navbar">
    <div id ="logo-and-links">
        <div id="logo" style="height: 65px;">
            <a class="placeholder" href="/">
                <b>
                    LOGO
                </b>
            </a>
        </div>

        <div class="links">
            <a class="navbar-item" href=''>
                Home
            </a>
            <a class="navbar-item" href='/lost'>
                Lost a Dog
            </a>
            <a class="navbar-item" href='/found'>
                Found a Dog
            </a>
            <a class="navbar-item">
                <button *ngIf="this.loginService.firebaseAuth.user | async as user; else showLogin" id="logout" (click)="signOut()">
                    Logout
                </button>
                <ng-template #showLogin>
                    <button id="login" (click)="goToLoginPage()">
                        Login
                    </button>
                </ng-template>
            </a>    
        </div>
    </div>
</nav>