<nav class = "navbar">
    <div id ="logo-and-links">
        <div id="logo">
            <a class="placeholder" href="/">
                <b>
                    LOGO
                </b>
            </a>
        </div>

        <!-- hello -->
        <div class="links">
            <a class="navbar-item" href=''>
                Home
            </a>
            <a class="navbar-item" href='/lost'>
                Lost a Dog
            </a>
            <a class="navbar-item" href='/found'>
                Found a Dog
            </a>
            <a class="navbar-item">
                <a *ngIf="!loggedIn" id="login" href='/login'>
                    Login
                </a>
                <a *ngIf="loggedIn" id="logout" href='/logout'> 
                    Logout
            
                </a>
            </a>    
        </div>
    </div>
</nav>