<div class="found">

    <input
        style="display: none"
        type="file" (change)="onFileChanged($event)"
        #fileInput
    >

    <div class="buttonWrapper-1">
        <button class="uploadButton" (click)="fileInput.click()" >UPLOAD IMAGE</button> 
    </div>

    <div class="imageWrap">
        <img class="imgPreview" id="uploadImg" [src]="url" style="display:none"> <br/>
    </div>

    <div class="buttonWrapper-2" >
        <button class="searchButton" id="searchBtn" routerLink = "/results" (click)="onSearch($event)" style="display: none">SEARCH</button> 
    </div>

</div>
