.result {
    border: 5px solid black;

    background-color: rgb(92,81,65);
    color: white;

    height: 400px;
    width: 400px;
    margin: 50px;
}

.rowResult {
    display: flex;
    flex-direction: row;

    width: 100%;
}